html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#mapid {
  height: 100%;
}

.buscador{
  z-index: 222;

}

.marco{
  background: white;
  padding: 5px;
  border: 1px solid black;
}
/* legend */
.legend {
  width: 250px;
  line-height: 18px;
  color: #333333;
  padding: 6px 8px;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 18px;
  opacity: 0.7;
}
.legend p {
  font-size: 12px;
  line-height: 18px;
  margin: 0;
}